ul, ol {
  margin-bottom: $base-line-height / 2;
  padding-left: $base-line-height;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}



// Strip default styles
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



// Linear lists split with pipes
.list-linear-pipes {
  @extend .list-unstyled;

  > li {
    border-right: 1px solid $base-border-color;
    display: inline-block;
    padding: 0 0.5em;

    &:last-child {
      border-right: none;
    }
  }
}
